<!-- templates/account/signup.html -->/
{% load static %}
{% load socialaccount %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'account/signup.css' %}">
    <title>{% block page_title %} Sign Up {% endblock %}</title>
</head>
<body>
    {% block content %}
        <div class="row">
            
                <h2>Sign Up</h2>
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type="submit" class="btn btn-primary">Sign Up</button>
                    <a href="{% url 'login' %}"> Sign In </a>
                    <div class="social-login">
                        <div class="divider"><span>Or</span></div>
                        <a href="{% provider_login_url 'google' %}" class="btn-social btn-google">
                            <span class="icon"></span>
                            Sign Up with Google
                        </a>
                    </div>
                </form>
        </div>
    {% endblock %}
</body>
</html>
